@charset "utf-8";
/* CSS Document */

.example {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
}
.example1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	background-color: #C9F;
}
